.optionCheckBox{
    display: inline-block;
}

.optionCheckTitle{
    display: inline-block;
    margin: 5px 10px 5px 10px;
}

.OrderCategory{
    padding-bottom: 20px;
    border-bottom: 1px solid lightgray;
}
