
.ordersTableHeader>div{
    display: inline-block;
    padding:5px 10px;
}
.orderIdColumn{
    text-align: left;
    width: calc(10% - 21px);
}

.orderDetails{
    text-align: left;
    width: calc(70% - 21px);
}
.orderStatus{
    text-align: center;
    width: calc(20% - 21px);
}
