.headerContainer{
    position: fixed;
    width: 100%;
    top: 0;
}

.bodyContainer{
    margin-top: 150px;
}

.footerContainer{
    padding-top: 15px;
    padding-bottom: 15px;
    position: fixed;
    width: 100%;
    bottom: 0;
}